rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
    match /{document=**} {
      allow read, write: if false;
    }
    match /publishers/{pubId} {
      allow read;
      allow create: if isAdmin();
    }
    match /addresses/{adrId} {
      allow read;
      allow create: if isAdmin();
    }
    match /scores/{scoreId} {
      allow write: if isAdmin();
    }
  }
}