rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
    function incomingData() {
      return request.resource.data;
    }
    function validateString(text, min, max) {
      return text is string && text.size() <= max && text.size() >= min;
    }
    match /{document=**} {
      allow read, write: if false;
    }
    match /publishers/{pubId} {
      allow read;
      allow create: if isAdmin();
    }
    match /addresses/{adrId} {
      allow read;
      allow create: if isAdmin();
    }
    match /scores/{scoreId} {
      allow create, update:
        if isAdmin() &&
          validateString(incomingData().name, 1, 100) &&
          validateString(incomingData().otherName, 0, 100) &&
          validateString(incomingData().singer, 0, 100) &&
          validateString(incomingData().note, 0, 500);
      allow delete: if isAdmin();
    }
  }
}